.posts {
  margin: 5rem auto 0;

  a {
    display: block;
    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    strong {
      display: block;
      font-size: 1.6rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
      color: var(--white);
    }

    p {
      color: var(--gray-400);
      margin-top: 0.5rem;
      font-size: 1rem;
      line-height: 1.225rem;
    }

    &:hover strong {
      color: var(--pink-500);
    }

    .postInfo {
      display: flex;
      align-items: center;
      margin-top: 1.2rem;
      color: var(--gray-500);
      font-size: 0.875rem;

      time {
        display: flex;
        align-items: center;
        margin-right: 2rem;

        svg {
          margin-right: 0.2rem;
        }
      }

      span {
        display: flex;
        align-items: center;
        svg {
          margin-right: 0.2rem;
        }
      }
    }
  }
}

.loadMorePostsButton{
  color: var(--pink-500);
  font-size: 1rem;
  line-height: 1.225rem;
  margin: 3rem 0;
  background-color: transparent;
  border:none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  
}